<div class="d-flex">
  <div class="side-bar">
    <h6 style="font-size: 14px; margin-bottom: 2px"><b>JULIETTE FERRER</b></h6>
    <h6 style="font-size: 14px">_Full_Stack_Developer_</h6>
    <div style="text-align: center; margin-top: 1rem">
      <img class="avatar-bordered" src="../../assets/profile_pic.jpg" alt="Profile pic">
    </div>
    <div class="title d-flex align-items-center">
      <span style="font-size: 10px; margin-right: 4px; margin-top: 3px">▼</span>
      <i class="far fa-folder-open"></i>
      <p>personal_data</p>
    </div>

    <div class="subtitle d-flex align-items-center">
      <i class="fas fa-phone-alt" style="font-size: 12px"></i>
      <p>+33 6 22 33 44 55</p>
    </div>
    <div class="subtitle d-flex align-items-center">
      <i class="fas fa-envelope" style="font-size: 12px"></i>
      <p>onlinecv@gmail.com</p>
    </div>
    <div class="subtitle d-flex align-items-center">
      <i class="fas fa-map-marker-alt" style="font-size: 14px"></i>
      <p>Paris, FRANCE</p>
    </div>
    <div class="subtitle d-flex align-items-center" style="    margin-left: 18px;">
      <i class="fas fa-car" style="font-size: 14px"></i>
      <p>Driver Licence (B)</p>
    </div>
    <a href="https://github.com/JulietteF2"><div class="subtitle d-flex align-items-center" style="    margin-left: 18px;">
      <i class="fab fa-github" style="font-size: 14px; color: #24292E;"></i>
      <p>JulietteF2</p>
    </div></a>
    <a href="https://www.linkedin.com/in/juliette-ferrer/"><div class="subtitle d-flex align-items-center" style="    margin-left: 18px;">
      <i class="fab fa-linkedin" style="font-size: 14px"></i>
      <p>/in/juliette-ferrer/</p>
    </div></a>

    <div class="title d-flex align-items-center">
      <span style="font-size: 10px; margin-right: 4px; margin-top: 3px">▼</span>
      <i class="far fa-folder-open"></i>
      <p>courses_&_education</p>
    </div>

    <div class="subtitle d-flex align-items-center" style="margin-left: 18px">
      <img src="../../assets/logo_wagon.png" alt="logo_wagon" width="14px">
      <p>Le Wagon Melbourne</p>
    </div>
    <div class="subtitle d-flex align-items-center">
      <i class="fas fa-user-graduate" style="font-size: 13px"></i>
      <p>Lots of self-teaching</p>
    </div>
    <div class="subtitle d-flex align-items-center" style="margin-left: 18px; margin-bottom: 0">
      <img src="../../assets/coursera.png" alt="logo_wagon" width="14px">
      <!-- https://www.coursera.org/learn/python-network-data -->
      <!-- https://www.coursera.org/specializations/introduction-computer-science-programming#courses -->
      <p>Python Data Structures</p>
    </div>
    <div class="subtitle">
      <p style="margin-top: 0; margin-left: 15px;">& Web Data</p>
      <p style="margin-bottom: 0; margin-left: 15px;">Computer Science and</p>
      <p style="margin-top: 0; margin-left: 15px;">Programming (intro)</p>
    </div>

    <div class="subtitle d-flex align-items-center" style="    margin-left: 18px; margin-bottom: 0">
      <i class="fas fa-fast-backward" style="font-size: 12px"></i>
      <p>Prior to programming:</p>
    </div>
    <div class="subtitle">
      <p style="margin-top: 0; margin-bottom: 0; margin-left: 15px; letter-spacing: -0.2px">Information-Communica-</p>
      <p style="margin-top: 0; margin-left: 15px; letter-spacing: -0.2px">tion (Master's degree)</p>
    </div>

  </div>
