<div class="test-typed">
  <p class="green"><span class="pink">class</span> SeekingOpportunities <span style="color: white"><</span> <i>ApplicationController</i></p>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> intro</p>
      <p style="margin-left: 2rem; color: white">
        After a drastic U-Turn to switch career towards programming and a year of training, I'm now actively seeking a position as a <span class="orange">web developer</span>.
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> back_story</p>
      <p style="margin-left: 2rem; color: white">
        From <span class="orange">self-teaching</span> C (<i>yup, first choices are bold choices when you start from scratch!</i>), to following online courses on Computer Science and Python 1.01, then moving to <span class="blue">Australia</span> to attend Le Wagon <span class="orange">FullStack Development</span> program in Melbourne, I completed my training by an internship with one of <span class="blue">India</span>'s leading providers of mobile device management solutions, ProMobi Tech, where I worked as a <span class="orange">Software Engineer</span>.
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> let_s_chat</p>
      <p style="margin-left: 2rem; color: white">
        Eager to keep learning and willing to put my skills to use by joining a tech team, if any of what you're reading rings a bell, I'd be <span class="purple">happy to chat</span>!
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> skills</p>
      <p style="margin-left: 2rem; color: white">Languages <span class="pink">=</span> [<span class="yellow">"Ruby"</span>, <span class="yellow">"Javascript"</span>, <span class="yellow">"HTML5/CSS3"</span>, <span class="yellow">"Python basics"</span>]</p>
      <p style="margin-left: 2rem; color: white">Frameworks <span class="pink">=</span> [<span class="yellow">"Rails"</span>, <span class="yellow">"currently learning ReactJS"</span>]</p>
      <p style="margin-left: 2rem; color: white"><span class="purple">DBMS:</span> PostgreSQL</p>
      <p style="margin-left: 2rem; color: white"><span class="purple">Cloud platform:</span> Heroku</p>
      <p style="margin-left: 2rem; color: white">Versioning <span class="pink">=</span> { <span class="purple">Git:</span> [<span class="yellow">"Hub"</span>, <span class="yellow">"Lab"</span>] }</p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> experiences</p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> side_projects</p>
    <p class="pink" style="margin-left: 1rem">end</p>

  <p class="pink">end</p>
</div>
