<div class="test-typed">
  <p class="green"><span class="pink">class</span> SeekingOpportunities <span style="color: white"><</span> <i>ApplicationController</i></p>

    <!-- INTRO -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> intro</p>
      <p style="margin-left: 2rem; color: white">
        After a drastic U-Turn to switch career towards programming and after a year of training, I'm now actively seeking a position as a <span class="orange">web developer</span>.
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- PRESENTATION -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> back_story</p>
      <p style="margin-left: 2rem; color: white">
        From <span class="orange">self-teaching</span> C (<i>yup, first choices are bold choices when you start from scratch!</i>), to following online courses on Computer Science and Python 1.01, then moving to <span class="blue">Australia</span> to attend Le Wagon <span class="orange">FullStack Development</span> program in Melbourne, I completed my training by an internship with one of <span class="blue">India</span>'s leading providers of mobile device management solutions, ProMobi Tech, where I worked as a <span class="orange">Software Engineer</span>.
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- CONTACT -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> let_s_chat</p>
      <p style="margin-left: 2rem; color: white">
        Eager to keep learning and willing to put my skills to use by joining a tech team, if any of what you're reading rings a bell, I'd be <span class="purple">happy to chat</span>!
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- SKILLS -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> skills</p>
      <!-- LANGUAGES -->
      <p style="margin-left: 2rem; color: white">Languages <span class="pink">=</span> [<span class="yellow">"Ruby"</span>, <span class="yellow">"JavaScript"</span>, <span class="yellow">"HTML5/CSS3"</span>, <span class="yellow">"Python basics"</span>]</p>
      <!-- FRAMEWORKS -->
      <p style="margin-left: 2rem; color: white">Frameworks <span class="pink">=</span> [<span class="yellow">"Rails"</span>, <span class="yellow">"currently learning ReactJS"</span>]</p>
      <!-- DB -->
      <p style="margin-left: 2rem; color: white">DBMS <span class="pink">=</span> <span class="yellow">"PostgreSQL"</span></p>
      <!-- CLOUDS & SERVERS -->
      <p style="margin-left: 2rem; color: white">Clouds <span class="pink">=</span> [<span class="yellow">"Heroku"</span>, <span class="yellow">"Amazon S3"</span>]</p>
      <!-- VERSIONNING -->
      <p style="margin-left: 2rem; color: white">Versioning <span class="pink">=</span> { <span class="purple">Git:</span> [<span class="yellow">"Hub"</span>, <span class="yellow">"Lab"</span>] }</p>
      <!-- PACKAGE MANAGERS -->
      <p style="margin-left: 2rem; color: white">Package_Managers <span class="pink">=</span> [<span class="yellow">"Bundler"</span>, <span class="yellow">"npm"</span>, <span class="yellow">"pip"</span>]</p>
      <br>

      <!-- SOFT-SKILLS -->
      <p style="margin-left: 2rem; color: white">Soft_Skills <span class="pink">=</span> { <span class="purple">Methods:</span> [<span class="yellow">"OOP"</span>, <span class="yellow">"TDD"</span>, <span class="yellow">"Agile"</span>, <span class="yellow">"Peer Programming"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple">English:</span> fluent,</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Research_background:</span> [<span class="yellow">"Analytical thinking"</span>, <span class="yellow">"Problem-solving"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Freelance_background:</span> [<span class="yellow">"Autonomy"</span>, <span class="yellow">"Flexibility"</span>, <span class="yellow">"Creativity"</span>] }</p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- EXPERIENCES -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> experiences</p>
      <!-- INTERN PROMOBI -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">04/2020</span><span class="pink">..</span><span class="purple">07/2020</span>).as_a { |<span class="orange"><i>Software_Engineer_Intern</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">PromobiTechnologies, Pune, India</i>
           [<span class="blue">worked remotely from Australia</span>]
        </p>
        <p style="margin-left: 3rem; color: white">
          Joined the company on the final sprints to launch <a href="https://nuovopay.com/">Nuovo</a>, a device management solution focused on simplifying mobile leasing.
        </p>
        <p style="margin-left: 3rem; color: white">
          Part of the back-end team, although UI integration was also involved.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white">Description <span class="pink">=</span> { <span class="purple">Stack:</span> [<span class="yellow">"Ruby On Rails"</span>, <span class="yellow">"ReactJS"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">TDD:</span> [<span class="yellow">"RSpec for DB, controllers, views, engines and mailers"</span>, <span class="yellow">"Postman for APIs"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Methodology:</span> [<span class="yellow">"Agile"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Main missions:</span> [<span class="yellow">"implementation of various device management actions from admin's interface"</span>, <span class="yellow">"EMM API endpoints (managing Zero Touch Configurations, SDK Activation, QR code and code based enrollments)"</span>, <span class="yellow">"mailings through UI and API"</span>, <span class="yellow">"devices' log files upload and management (Amazon S3 + Carrierwave)"</span>, <span class="yellow">"integration on dev internal control interface (Rails Engine)"</span>, <span class="yellow">"post-release support and follow-up"</span>] }</p>


      <p style="margin-left: 2rem; color: white">}</p>

      <!-- TA WORKSHOP -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">Occasionally</span><span class="pink">..</span><span class="purple">working</span>).as_a { |<span class="orange"><i>Teacher_Assistant</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">Le Wagon, Melbourne, Australia</i>
        </p>
        <p style="margin-left: 3rem; color: white">
          Supporting teachers during the Women Coding Express workshop, allowing beginners to get started with programming.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white">Description <span class="pink">=</span> { <span class="purple">Languages taught:</span> [<span class="yellow">"HTML"</span>, <span class="yellow">"CSS"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Deployment</span> [<span class="yellow">"Netlify"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Library</span> [<span class="yellow">"Bootstrap"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Type of workshop:</span> [<span class="yellow">"Webinar"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Main missions:</span> [<span class="yellow">"helping participants get their set up ready"</span>, <span class="yellow">"answering their questions online during lessons"</span>, <span class="yellow">"making sure they manage to build their first profile page by the end of the workshop"</span>, <span class="yellow">"helping them deploy on Netlify"</span>] }</p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- LE WAGON -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">01/2020</span><span class="pink">..</span><span class="purple">03/2020</span>).as_a { |<span class="orange"><i>Full_Stack_Web_Development_Student</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">Le Wagon, Melbourne, Australia</i>
        </p>
        <p style="margin-left: 3rem; color: white">
          Followed Le Wagon full-time coding bootcamp to become a full stack web developer.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white">Description <span class="pink">=</span> { <span class="purple">Software Architecture:</span> [<span class="yellow">"Object-Oriented Programming"</span>, <span class="yellow">"Model-View-Controller pattern"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Programming in Ruby</span> [<span class="yellow">"Data Structures"</span>, <span class="yellow">"RegEx"</span>, <span class="yellow">"Data Parsing"</span>, <span class="yellow">"Web Scraping"</span>, <span class="yellow">"API Requests"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Relational Database, SQL & ORM</span> [<span class="yellow">"CRUD and JOIN queries"</span>, <span class="yellow">"Object Relational Mapping with ActiveRecord"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Frontend Development:</span> [<span class="yellow">"HTML5"</span>, <span class="yellow">"CSS3"</span>, <span class="yellow">"Bootstrap 4.0"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">JS ES6:</span> [<span class="yellow">"Programming in JS"</span>, <span class="yellow">"Dynamic Behaviors"</span>, <span class="yellow">"AJAX"</span>, <span class="yellow">"JS web tools (Babel, webpack, yarn)"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Ruby on Rails:</span> [<span class="yellow">"Building apps from scratch"</span>, <span class="yellow">"Deploying them on production"</span>, <span class="yellow">"Web Development advanced concepts (nested resources, namespaces, app refactoring with services, API building"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Advanced Features:</span> [<span class="yellow">"Authentication"</span>, <span class="yellow">"Authorisation"</span>, <span class="yellow">"Payments"</span>, <span class="yellow">"Search"</span>, <span class="yellow">"Geocoding"</span>, <span class="yellow">"Background Jobs"</span>, <span class="yellow">"..."</span>] }</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Product Building:</span> [<span class="yellow">"Authentication"</span>, <span class="yellow">"Authorisation"</span>, <span class="yellow">"Payments"</span>, <span class="yellow">"Search"</span>, <span class="yellow">"Geocoding"</span>, <span class="yellow">"Background Jobs"</span>, <span class="yellow">"..."</span>] }</p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- FREELANCE -->

      <!-- ACADEMIC RESEARCH -->

    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> side_projects</p>
    <p class="pink" style="margin-left: 1rem">end</p>

  <p class="pink">end</p>
</div>
