<div id="toggled" class="d-none">
    <!-- PRESENTATION -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> back_story</p>
      <p style="margin-left: 2rem; color: white">
        Willing to learn something new and to challenge my tech-savviness, I opened <i>C for Dummies</i> in the summer of 2019... The next thing I knew, I was in love with coding and <span class="orange">autodidactically</span> learning Computer Science and Python.
        <br>
        Five months later, I took a great leap to attend Le Wagon's <span class="orange">Web Development</span> program in Melbourne. I then completed my training with an internship as a <span class="orange">Software Engineer</span> at one of India's leading providers of MDM solutions, ProMobi Tech, and I'm now looking for my next challenge!
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- CONTACT -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> let_s_chat</p>
      <p style="margin-left: 2rem; color: white">
        Eager to keep learning and willing to put my skills to use by joining a tech team, if any of what you're reading got your attention, I'd be <a href="" id="link-to-tab">happy to chat</a>!
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- SKILLS -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> skills</p>
      <!-- LANGUAGES -->
      <p style="margin-left: 2rem; color: white">Languages <span class="pink">=</span> [<span class="yellow">"Ruby"</span>, <span class="yellow">"JavaScript"</span>, <span class="yellow">"HTML5/CSS3"</span>, <span class="yellow">"Python basics"</span>]</p>
      <!-- FRAMEWORKS -->
      <p style="margin-left: 2rem; color: white">Frameworks <span class="pink">=</span> [<span class="yellow">"Rails"</span>, <span class="yellow">"currently learning ReactJS"</span>]</p>
      <!-- DB -->
      <p style="margin-left: 2rem; color: white">DBMS <span class="pink">=</span> <span class="yellow">"PostgreSQL"</span></p>
      <!-- CLOUDS & SERVERS -->
      <p style="margin-left: 2rem; color: white">Clouds <span class="pink">=</span> [<span class="yellow">"Heroku"</span>, <span class="yellow">"Amazon S3"</span>]</p>
      <!-- VERSIONNING -->
      <p style="margin-left: 2rem; color: white">Versioning <span class="pink">=</span> { <span class="purple">Git:</span> [<span class="yellow">"Hub"</span>, <span class="yellow">"Lab"</span>] }</p>
      <!-- PACKAGE MANAGERS -->
      <p style="margin-left: 2rem; color: white">Package_Managers <span class="pink">=</span> [<span class="yellow">"Bundler"</span>, <span class="yellow">"npm"</span>, <span class="yellow">"pip"</span>]</p>
      <!-- METHODS -->
      <p style="margin-left: 2rem; color: white">Methods <span class="pink">=</span> [<span class="yellow">"TDD"</span>, <span class="yellow">"Agile"</span>, <span class="yellow">"Peer Programming"</span>]</p>
      <!-- LANGUAGES -->
      <p style="margin-left: 2rem; color: white">English <span class="pink">=</span> [<span class="yellow">"Fluent"</span>, [<span class="yellow">"TOEFL: 111/120"</span>, <span class="yellow">"Studied and worked in English"</span>]</p>

      <!-- SOFT-SKILLS -->
      <p style="margin-left: 2rem; color: white; letter-spacing: -0.4px">Soft_Skills <span class="pink">=</span> { <span class="purple" style="letter-spacing: -0.5px">Research_background:</span> [<span class="yellow">"Analytical thinking"</span>, <span class="yellow">"Problem-solving"</span>],</p>
        <p style="margin-left: 9.4rem; color: white"><span class="purple" style="letter-spacing: -0.6px">Freelance_background:</span> [<span class="yellow">"Autonomy"</span>, <span class="yellow">"Flexibility"</span>, <span class="yellow">"Creativity"</span>] }</p>
    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <!-- EXPERIENCES -->
    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> experiences</p>
      <!-- INTERN PROMOBI -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">04/2020</span><span class="pink">..</span><span class="purple">07/2020</span>).as_a { |<span class="orange"><i>Software_Engineer_Intern</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <a href="https://promobitech.com/" target="blank"><i>PromobiTechnologies, Pune, India</i> [<span>worked remotely from Australia</span>]</a>
        </p>
        <p style="margin-left: 3rem; color: white; letter-spacing: -0.4px">
          Joined the back-end team (although UI integration was also involved) on the final sprints to launch <a href="https://nuovopay.com/" target="blank">Nuovo</a>, a MDM solution focused on simplifying mobile leasing.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white">Description <span class="pink">=</span> { <span class="purple">Stack:</span> [<span class="yellow">"Ruby On Rails"</span>, <span class="yellow">"ReactJS"</span>],</p>
        <p style="margin-left: 9.8rem; color: white; letter-spacing: -0.4px"><span class="purple">TDD:</span> [<span class="yellow">"RSpec for MVC, engines and mailers"</span>, <span class="yellow">"Postman for APIs"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Methodology:</span> [<span class="yellow">"Agile"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Missions:</span>
          [<span class="yellow">"implementing final modules and features"</span>, <span class="yellow">"API endpoints for enrollment (Zero Touch Configs, SDK Activation, QR code/code)"</span>, <span class="yellow">"API mailings"</span>, <span class="yellow">"log files upload and management on Amazon S3"</span>, <span class="yellow">"integration on the dev interface (Rails Engine)"</span>, <span class="yellow">"post-release support and follow-up"</span>] }</p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- TA WORKSHOP -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">05/2020</span>).as_a { |<span class="orange"><i>Teacher_Assistant</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">Le Wagon, Melbourne, Australia</i>
        </p>
        <p style="margin-left: 3rem; color: white">
          Supporting teachers during the Women Coding Express webinar, allowing beginners to get started with programming.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white">Description <span class="pink">=</span> { <span class="purple">Languages taught:</span> [<span class="yellow">"HTML"</span>, <span class="yellow">"CSS"</span>, <span class="yellow">"+ Bootstrap Library"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Deployment</span> [<span class="yellow">"Netlify"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Main missions:</span> [<span class="yellow">"tech support to get everyone's set up ready"</span>, <span class="yellow">"answering questions live"</span>, <span class="yellow">"ensuring everyone has built a page by the end of the workshop"</span>, <span class="yellow">"deploying on Netlify"</span>] }</p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- LE WAGON -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">01/2020</span><span class="pink">..</span><span class="purple">03/2020</span>).as_a { |<span class="orange"><i>Full_Stack_Web_Development_Student</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">Le Wagon, Melbourne, Australia</i>
        </p>
        <p style="margin-left: 3rem; color: white">
          Followed Le Wagon full-time coding bootcamp to become a web developer.
        </p>
        <!-- DESCRIPTION -->
        <p style="margin-left: 3rem; color: white; letter-spacing: -0.9px">Description <span class="pink">=</span> { <span class="purple">Software Architecture:</span> [<span class="yellow">"Object-Oriented Programming"</span>, <span class="yellow">"MVC pattern"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -1px">Ruby:</span><span style="font-size: 3px"> </span>[<span class="yellow" style="letter-spacing: -1px">"Data Structures"</span>,<span style="font-size: 4px"> </span><span class="yellow" style="letter-spacing: -1px">"RegEx"</span>,<span style="font-size: 3px"> </span><span class="yellow" style="letter-spacing: -1px">"Web Scraping & Parsing"</span>,<span style="font-size: 3px"> </span><span class="yellow" style="letter-spacing: -1px">"Fetch API"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.8px">Relational DB, SQL & ORM</span> [<span class="yellow">"CRUD & JOIN queries"</span>, <span class="yellow">"ActiveRecord"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Frontend Development:</span> [<span class="yellow">"HTML5"</span>, <span class="yellow">"CSS3"</span>, <span class="yellow">"Bootstrap 4.0"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">JS ES6:</span> [<span class="yellow">"Programming in JS"</span>, <span class="yellow">"Dynamic Behaviors"</span>, <span class="yellow">"AJAX"</span>, <span class="yellow">"JS web tools (Babel, webpack, yarn)"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Ruby on Rails:</span> [<span class="yellow">"Building apps from scratch"</span>, <span class="yellow">"Deploying them on production"</span>, <span class="yellow">"Web Development advanced concepts (nested resources, namespaces, app refactoring with services, API building"</span>],</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Advanced Features:</span> [<span class="yellow">"Authentication"</span>, <span class="yellow">"Authorisation"</span>, <span class="yellow">"Payments"</span>, <span class="yellow">"Search"</span>, <span class="yellow">"Geocoding"</span>, <span class="yellow">"Background Jobs"</span>, <span class="yellow">"ActionCable & WebSockets"</span>, <span class="yellow">"..."</span>] }</p>
        <p style="margin-left: 9.8rem; color: white"><span class="purple" style="letter-spacing: -0.5px">Product Building Sprint (10 days to build an app from scratch):</span> [<span class="yellow">"Team Workflow on GitHub"</span>, <span class="yellow">"Defining product's value proposition and target users"</span>, <span class="yellow">"Payments"</span>, <span class="yellow">"Interactive prototyping on Figma to validate UX"</span>, <span class="yellow">"Defining and assigning user stories"</span>, <span class="yellow">"Coding from scratch (from back-end to UI)"</span>, <span class="yellow">"Deploying on production environment with Heroku"</span>] }</p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- FREELANCE -->
      <p style="margin-left: 2rem; color: white">
        (<span class="purple">2018</span><span class="pink">..</span><span class="purple">2020</span>).as_a { |<span class="orange"><i>Communication_Consultant</i></span>|
      </p>
        <p style="margin-left: 3rem; color: white">
          <i class="blue">Freelance, Paris, France</i>
        </p>
        <p style="margin-left: 3rem; color: white">
          Prior to programming, I worked as a freelance for two years.
        </p>
        <p style="margin-left: 3rem; color: white">
          My clients included public administrations, funds, editors and academic research institutes.
        </p>
      <p style="margin-left: 2rem; color: white">}</p>

      <!-- ACADEMIC RESEARCH -->

    <p class="pink" style="margin-left: 1rem">end</p>
    <br>

    <p class="green" style="margin-left: 1rem"><span class="pink">def</span> side_projects</p>
      <p style="margin-left: 2rem; color: white">
        <span class="orange">This website</span> as a way to make job seeking entertaining while practicing.
      </p>
      <p style="margin-left: 2rem; color: white; letter-spacing: -0.8px">
        <a href="#">FullStackTrip</a>, a geolocated photo album that I built to record my travels in Australia.
      </p>
      <p style="margin-left: 2rem; color: white">
        <a href="https://devpost.com/software/iso-court" target="blank">isoCourt</a>, a team submission to the <a href="https://hack-the-crisis-australia.devpost.com/" target="blank">Hack the Crisis Australia</a> hackathon.
      </p>
      <p style="margin-left: 2rem; color: white">
        <a href="https://www.figma.com/proto/53F5NuppExVZTfRE5Hzuqt/Train-Together?scaling=min-zoom&node-id=25%3A117" target="blank">TrainTogether</a>, a work in progress project with a group of alumni.
      </p>
      <p style="margin-left: 2rem; color: white">
        <a href="https://meme-forest.herokuapp.com/" target="blank">Memento</a>, my final team project at Le Wagon.
      </p>
      <p style="margin-left: 2rem; color: white; letter-spacing: -0.4px">
        <a href="https://plants4real.herokuapp.com/" target="blank">Plants4Real</a>, an Airbnb clone built from scratch in 5 days during Le Wagon bootcamp.
      </p>
    <p class="pink" style="margin-left: 1rem">end</p>

  <p class="pink">end</p>
</div>

