// Define variables for your color scheme

// For example:
$red: #FD1015;
$gray: #0E0000;
$light-gray: #F4F4F4;

// SublimeText colors:
$background-gray: #6D6E6A;
$window-dark-gray: #282923;
$tabs-mid-gray: #42433E;
$tabs-font-gray: #989898;
$side-bar: #EBEDEF;

// Writing colors:
$pink: #FC1B70;
$green: #A4E400;
$blue: #61D8F1;
$purple: #AD7CFF;
$yellow: #E7DC6D;
$orange: #FF9700;
