<div style="margin-left: auto; margin-right: auto; width: 900px; background-color: #282923;">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="test-typed" style="color: orange"></div>

  <%= javascript_pack_tag 'typedContent' %>

</div>
