<p>Hello <%= @message.name %>n,</p>

<p style="padding-bottom: 0px">Thanks for reaching out through my online CV! I'll get back to you asap.</p>

<p style="padding-bottom: 0px">Regards,</p>
<p style="padding-bottom: 0px">Juliette Ferrer</p>
<p><i><small>** This is an automated confirmation **</small></i>
</p>
