.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-warning {
  background-color: #E78686;
  border-color: #D94B4B;
  color: #740000;
}

.alert-info {
  background-color: #C3F7BF;
  border-color: #53AA4E;
  color: #20631C;
}
