#nav-tab {
  border-bottom: none !important;
  background-color: $background-gray;
  .nav-item {
    background-color: $tabs-mid-gray;
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: $tabs-font-gray;
    -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
    &:hover {
      border: none !important;
    }
    &.active {
      background-color: $window-dark-gray;
      border: none !important;
      color: white;
    }
  }
}
